<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>DW!Tmedia</title>
        <link rel="stylesheet" href="./../static/navbar.css" media="screen" type="text/css" />
        <link rel="stylesheet" href="./../static/bootstrap-icons/font/bootstrap-icons.css" />
        <link rel="shortcut icon" href="./../static/images/dwtLogo.jpg" type="image/x-icon" />
        <link rel="stylesheet" href="./../static/index.css" />
    </head>
    <body>
        <!-- navbar for the whole site -->
        <nav class="navbar" id="navbar">
            <a href="./../index.html" class="nav-item"><img src="./../static/images/dwtLogo.svg" style="width: 40px; position: relative; top: 10px; left: 5px; color: white; margin: 0; padding: 0;"/>DW!T<em>media</em></a>
            <a href="./graphic_design.html" class="nav-item hide-on-mobile">Graphic Design</a>
            <a href="./content_creation.html" class="nav-item hide-on-mobile">Content Creation</a>
            <a href="./web_design.html" class="nav-item hide-on-mobile">Web Design</a>
            <a href="./contacts.html" class="nav-item">About Us</a>
            <a href="#" class="nav-item bi bi-menu-button-wide-fill" onclick="showSidebar('sidebar')"></a>
        </nav>
        <nav class="sidebar" id="sidebar">
            <a href="#" class="bi bi-arrow-right" onclick="hideSidebar('sidebar')"></a>
            <a href="./graphic_design.html" class="side-item">Graphic Design</a>
            <a href="./content_creation.html" class="side-item">Content Creation</a>
            <a href="./web_design.html" class="side-item">Web Design</a>    
        </nav>
        <h1 class="line">Web Design</h1>
        <section id="web_design" class="all_services">
        </section>
        <script src="./../static/navbar.js"></script>
        <script src="./../static/index.js"></script>
    </body>
</html>